* {
      border: 50px double  green;   
      background-color:#00cecf;
      font-family: "Helvetica", sans-serif;
      color: purple;
}

p {
      font-size:2.5em ;
      text-align: center;
}

p {
      background-color: Orange;
}