* {
	margin:  0;
	padding:  0;
}

body {
	background-image: url("naruto-uzumaki.jpg");
}

main {
	background-color:  rgba(255,255,255,0.4);
	

Якщо копіювати з презентації код тегу <img> то воно вставляє значення атрибутів з 
неправильними лапками, треба їх стерти і передрукувати вручну, тоді 
